.login-container {
  height: 95vh;
  padding: 20px;
  margin-top: 80px; 
  background: linear-gradient(to right, #fdd8a1, #fbe4c2); 
}

.login-box {
  max-width: 500px;
  padding: 40px;
  border-radius: 20px;
  box-shadow: 0 4px 15px rgba(42, 41, 40, 0.1);
}
