.product-creation-container {
  height: 105vh; /* Full viewport height */
  padding: 1px;
  margin-top: 37px;
  background: linear-gradient(to right, #fdd8a1, #fbe4c2); /* Light blue gradient background */
}

.row {
  background: #ffffff; /* White background for content */
  padding: 40px;
  border-radius: 5px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
}
